terraform {
  backend "azurerm" {
    resource_group_name  = "<Resource goup name>"
    storage_account_name = "<Storage account name>"
    container_name       = "tfstate"
    key                  = "terraform.tfstate"
  }
}
